<h1>Pastas</h1>

<mat-accordion *ngIf="boards.length > 0">
   <mat-expansion-panel *ngFor="let board of boards" (opened)="fetchPins(board.name)">
      <mat-expansion-panel-header>

         <mat-panel-title>
            {{ board.name }}
         </mat-panel-title>

      </mat-expansion-panel-header>

      <mat-card *ngFor="let pin of boardPins[board.name]" class="pin-preview">
         <img mat-card-image [src]="pin.image.original.url" [alt]="pin.note">
         <mat-card-content>
           <p>
             {{ pin.note }}
           </p>
         </mat-card-content>         
       </mat-card>

   </mat-expansion-panel>
</mat-accordion>

<p *ngIf="boards.length <= 0">Você não criou nenhuma pasta ainda.</p>